{extend name="index/index" /}
<!--###############################################################################################################-->
<!--################################################# 单独 ########################################################-->
<!--###############################################################################################################-->
{block name="header"}
<script src="<?= $js?>/pagination.js"></script>
<script src="<?= $js ?>/plugins/My97DatePicker/WdatePicker.js"></script>
<style>
    [v-cloak] {
        display: none !important;
    }
</style>
{/block}
{block name="main"}
<div class="page-content">
    <div class="page-header">
        <h1>
            CRJ_提醒 列表
            <small>
                <i class="icon-double-angle-right"></i>
            </small>
        </h1>
    </div>
    <div class="row">
        <div class="col-xs-12">

            <div id='SearchForm'>
                <div class="row ">
                    <div class="col-xs-2 input-group-s">
                        <input type="text" class="form-control" placeholder="请输入业务编号" v-model="s_crj">
                    </div>


                    <div class="col-xs-2 input-group-s">
                        <select class="form-control " v-model="s_status">
                            <option value="">请选择业务状态</option>
                            <option v-for="item in bus_status" :value="item.id">{{item.name}}</option>
                        </select>
                    </div>

                    <div class="col-xs-2 input-group-s">
                        <select class="form-control " v-model="s_isp_manager">
                            <option value="">请选择运营商</option>
                            <option v-for="item in ispList" :value="item.id">{{item.isp_sales}}</option>
                        </select>
                    </div>


                </div>
                <div class="row" style="margin-top: 20px">

                    <div class="col-xs-2 input-group-s">
                        <select class="form-control " v-model="s_type">
                            <option value="">请选择业务类型</option>
                            <option v-for="item in typeList" :value="item.id">{{item.name}}</option>
                        </select>
                    </div>

                    <div class="col-xs-1">
                        <div class="form-group">
                            <span class="btn btn-primary btn-sm " @click="getList()">搜索</span>
                        </div>
                    </div>

                </div>
            </div>

            <div class="table-responsive">
                <table id="sample-table-2" class="table table-bordered  solidTab ">
                    <thead>
                    <tr>
                        <th>CRJ业务编号</th>
                        <th>业务类型</th>
                        <th>所属运营商</th>
                        <th>套餐资费(成本)</th>
                        <th>运营商结算</th>
                        <th>支付时间</th>
                        <th>提醒时间</th>
                        <th>支付状态</th>
                        <th>付款账号</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(item,key) in List" v-cloak>
                        <td>{{item.crj}}</td>
                        <td v-show="item.type == i.id" v-for="i in typeList">{{i.name}}</td>
                        <td>{{item.isp}}</td>
                        <td>{{item.s_price}}</td>
                        <td v-show="item.isp_method == 1"><span class="label label-sm label-success">月结</span></td>
                        <td v-show="item.isp_method == 2"><span class="label label-sm label-success">季度结</span></td>
                        <td v-show="item.isp_method == 3"><span class="label label-sm label-success">年结</span></td>
                        <td v-show="item.isp_method == null "><span class="label label-sm label-success"></span></td>

                        <td>{{item.pay_time}}</td>
                        <td>{{item.pay_notice_time}}</td>

                        <td v-if="item.pay_status == 1" ><span class="label label-sm ">已支付</span></td>
                        <td v-else ><a href="#"><span class="label label-sm label-warning" @click="updatestatus(item.id)" >未支付</span></a></td>

                        <td>{{item.pay_account}}</td>
                        <td>
                            <div class="action-buttons" >
                                <a class="green" @click="edittmpid(item.id,key)" data-toggle="modal"
                                   data-target="#edit">
                                    <i class="icon-pencil bigger-130"></i>
                                </a>

                            </div>

                        </td>
                    </tr>

                    </tbody>
                </table>
                <div class="box-footer clearfix" v-show="pages>0">
                    <navigation :pages="pages" :current.sync="pageNo" @navpage="pageList"></navigation>
                </div>
            </div>

        </div>
    </div>


    <!--编辑用户-->
    <div role="dialog" class="modal fade bs-example-modal-sm " id="edit">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                    <h2 class="modal-title" id="">编辑CRJ提醒</h2>
                </div>
                <div class="modal-body">
                    <div class="modal-body">
                        <form class="form-horizontal" role="form">

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right"> 业务编号 </label>
                                <div class="col-sm-9">
                                    <input type="text" placeholder="" class="col-xs-10 col-sm-5" readonly
                                           v-model="editmsg['crj']">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right">支付时间 </label>
                                <div class="col-sm-9">
                                    <input type="text" id="edit_start" class="col-xs-10 col-sm-5"
                                           placeholder="请输入支付时间" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right">提醒时间 </label>
                                <div class="col-sm-9 ">
                                    <input type="text" id="edit_end" class="col-xs-10 col-sm-5"
                                           placeholder="请输入提醒时间" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right">支付账号 </label>

                                <div class="col-sm-9">
                                        <input type="text" placeholder="" class="col-xs-10 col-sm-5"
                                               v-model="editmsg['pay_account']">
                                </div>
                            </div>


                        </form>
                    </div>

                </div>
                <div class="modal-footer text-right">
                    <button data-dismiss="modal" class="btn btn-primary btn-sm">取消</button>
                    <button data-dismiss="modal" class="btn btn-danger btn-sm" @click="edit">保存
                    </button>
                </div>
            </div>
        </div>
    </div>


</div>
{/block}
{block name="footer"}
<script src="<?= $js?>/admin/crjnotice.js"></script>

{/block}