{extend name="index/index" /}
<!--###############################################################################################################-->
<!--################################################# 单独 ########################################################-->
<!--###############################################################################################################-->
{block name="header"}
<script src="<?= $js?>/pagination.js"></script>
<script src="<?= $js ?>/plugins/My97DatePicker/WdatePicker.js"></script>
<style>
    [v-cloak] {
        display: none !important;
    }
</style>
{/block}
{block name="main"}
<div class="page-content">
    <div class="page-header">
        <h1>
            CRJ 列表
            <small>
                <i class="icon-double-angle-right"></i>
            </small>
        </h1>
    </div>
    <div class="row">
        <div class="col-xs-12">

            <div id='SearchForm'>
                <div class="row ">
                    <div class="col-xs-2 input-group-s" >
                        <input type="text" class="form-control"   placeholder="请输入业务编号" v-model="s_crj">
                    </div>


                    <div class="col-xs-2 input-group-s">
                        <select  class="form-control "  v-model="s_isp">
                            <option value="">请选择运营商</option>
                            <option v-for="item in threelist" :value="item.id">{{item.name}}</option>
                        </select>
                    </div>

                    <div class="col-xs-2 input-group-s">
                        <select  class="form-control "  v-model="s_speed">
                            <option value="">请选择带宽</option>
                            <option v-for="item in speedList" :value="item.id">{{item.name}}</option>
                        </select>
                    </div>

                    <div class="col-xs-2 input-group-s">
                        <select  class="form-control "  v-model="s_status">
                            <option value="">请选择业务状态</option>
                            <option v-for="item in bus_status" :value="item.id">{{item.name}}</option>
                        </select>
                    </div>

                    <div class="col-xs-2 input-group-s">
                        <select  class="form-control "  v-model="s_isp_manager">
                            <option value="">请选择运营商经理</option>
                            <option v-for="item in ispList" :value="item.id">{{item.isp_sales}}</option>
                        </select>
                    </div>

                </div>
                <div class="row" style="margin-top: 20px">

                    <div class="col-xs-2 input-group-s">
                        <select  class="form-control "  v-model="s_cid">
                            <option value="">请选择公司</option>
                            <option v-for="item in companyList" :value="item.id">{{item.name}}</option>
                        </select>
                    </div>



                    <div class="col-xs-2 input-group-s">
                        <select  class="form-control "  v-model="s_out">
                            <option value="">请选择是用户否过期</option>
                            <option  :value=1>正常</option>
                            <option :value=2>过期</option>
                        </select>
                    </div>

                    <div class="col-xs-2 input-group-s">
                        <select  class="form-control "  v-model="s_time">
                            <option value="">请选择即将到期用户</option>
                            <option v-for="item in 30" v-if ="item % 5 ==0" :value="item">{{item}}天以内</option>
                        </select>
                    </div>

                    <div class="col-xs-1">
                        <div class="form-group">
                            <span class="btn btn-primary btn-sm " @click = "getList()">搜索</span>
                        </div>
                    </div>

                    <div class="col-xs-1">
                        <div class="form-group">
                             <span class="btn btn-success btn-sm tooltip-success" data-rel="tooltip" data-placement="top"
                                   title="添加用户" data-toggle="modal" data-target="#layer">添加</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="table-responsive">
                <table id="sample-table-2" class="table table-bordered  solidTab ">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>公司名</th>
                        <th>业务编号</th>
                        <th>安装地址</th>
                        <th>运营商</th>
                        <th>运营商经理</th>
                        <th>业务员</th>
                        <th>客户需求</th>
                        <th>实际套餐</th>
                        <th>带宽</th>
                        <th>套餐资费</th>
                        <th>销售价</th>
                        <th>结算方式</th>
                        <th>业务状态</th>
                        <th>开通时间</th>
                        <th>到期时间</th>
                        <th>拆机时间</th>
                        <th>操作</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(item,key) in List" v-cloak>
                        <td>{{item.id}}</td>
                        <td>{{item.company_name}}</td>
                        <td>{{item.crj}}</td>
                        <td>{{item.address}}</td>
                        <td v-show="item.isp == t.id" v-for="t in threelist">{{t.name}}</td>
                        <td>{{item.isp_sales}}</td>
                        <td>{{item.sales}}</td>
                        <td>{{item.demand}}</td>
                        <td>{{item.actual}}</td>
                        <td v-show="item.speed == s.id" v-for="s in speedList">{{s.name}}</td>
                        <td>&yen;:{{item.price}}</td>
                        <td>&yen;:{{item.s_price}}</td>
                        <td v-show="item.method == m.id" v-for="m in methodlist">{{m.name}}</td>
                        <td v-show="item.status == b.id" v-for="b in bus_status">{{b.name}}</td>

                        <td>{{item.start_time}}</td>
                        <td>{{item.end_time}}</td>
                        <td>{{item.teardown}}</td>

                        <td>
                            <div class="action-buttons">

                                <a class="green"  @click="edittmpid(item.id,key)" data-toggle="modal" data-target="#edit">
                                    <i class="icon-pencil bigger-130"></i>
                                </a>


                                <a class="red" >
                                    <i class="icon-trash bigger-130" @click="delTmp(item.id,key)" data-toggle="modal" data-target="#delete"></i>
                                </a>
                            </div>

                        </td>
                    </tr>

                    </tbody>
                </table>
                <div class="box-footer clearfix">
                    <navigation :pages="pages" :current.sync="pageNo" @navpage="pageList"></navigation>
                </div>
            </div>

        </div>
    </div>

    <!--新增模态框-->
    <div role="dialog" class="modal fade bs-example-modal-sm " id="layer">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                    <h2 class="modal-title" id="gridSystemModalLabel">新增CRJ</h2>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">


                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" >公司名 </label>

                            <div class="col-sm-9">
                                <select class="col-xs-10 col-sm-5"  v-model="msg['cid']">
                                    <option value="" disabled>请选择运营商公司</option>
                                    <option v-for="item in companyList" :value="item.id">{{item.name}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" > 业务编号 </label>
                            <div class="col-sm-9">
                                <input type="text"  placeholder="" class="col-xs-10 col-sm-5" v-model="msg['crj']">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" > 安装地址 </label>
                            <div class="col-sm-9">
                                <input type="text"  placeholder="" class="col-xs-10 col-sm-5"
                                       v-model="msg['address']">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" >运营商 </label>

                            <div class="col-sm-9">
                                <select class="col-xs-10 col-sm-5"  v-model="msg['isp']">
                                    <option value="" disabled>请选择运营商</option>
                                    <option v-for="item in threelist " :value="item.id">{{item.name}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" >运营商经理</label>

                            <div class="col-sm-9">
                                <select class="col-xs-10 col-sm-5"  v-model="msg['isp_manager']">
                                    <option value="" disabled>请选择运营商经理</option>
                                    <option v-for="item in ispList " :value="item.id">{{item.isp_sales}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" >业务员 </label>
                            <div class="col-sm-9">
                                <input type="text"  placeholder="" class="col-xs-10 col-sm-5" v-model="msg['sales']">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" > 客户需求 </label>
                            <div class="col-sm-9">
                                <input type="text"  placeholder="" class="col-xs-10 col-sm-5"
                                       v-model="msg['demand']">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" > 实际套餐 </label>
                            <div class="col-sm-9">
                                <input type="text"  placeholder="" class="col-xs-10 col-sm-5"
                                       v-model="msg['actual']">
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" >带宽 </label>

                            <div class="col-sm-9">
                                <select class="col-xs-10 col-sm-5"  v-model="msg['speed']">
                                    <option value="" disabled>请选择带宽</option>
                                    <option v-for="item in speedList" :value="item.id">{{item.name}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" > 套餐价格 </label>
                            <div class="col-sm-9">
                                <input type="text"  placeholder="" class="col-xs-10 col-sm-5" v-model="msg['price']">
                                <span class="help-inline col-xs-12 col-sm-7"></span>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" > 售价格 </label>
                            <div class="col-sm-9">
                                <input type="text"  placeholder="" class="col-xs-10 col-sm-5" v-model="msg['s_price']">
                                <span class="help-inline col-xs-12 col-sm-7"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" >结算方式 </label>

                            <div class="col-sm-9">
                                <select class="col-xs-10 col-sm-5"  v-model="msg['method']">
                                    <option value="" disabled>请选择结算方式</option>
                                    <option v-for="item in methodlist" :value="item.id">{{item.name}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" >业务状态 </label>

                            <div class="col-sm-9">
                                <select class="col-xs-10 col-sm-5"  v-model="msg['status']">
                                    <option value="" disabled>请选择状态</option>
                                    <option v-for="item in bus_status" :value="item.id">{{item.name}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" >开通时间 </label>
                            <div class="col-sm-9">
                                <input type="text" id="add_start"  class="col-xs-10 col-sm-5"
                                       placeholder="请输入开通时间" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" >
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" >到期时间 </label>
                            <div class="col-sm-9 ">
                                <input type="text" id="add_end"  class="col-xs-10 col-sm-5"
                                       placeholder="请输入到期时间" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" >
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" >拆机时间 </label>
                            <div class="col-sm-9 ">
                                <input type="text" id ="add_teardowm"  class="col-xs-10 col-sm-5"
                                       placeholder="请输入拆机时间" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})">
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer text-right">
                    <button data-dismiss="modal" class="btn btn-primary btn-sm">取消</button>
                    <button data-dismiss="modal" class="btn btn-danger btn-sm" @click="add">确认
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--编辑用户-->
    <div role="dialog" class="modal fade bs-example-modal-sm " id="edit">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                    <h2 class="modal-title" id="">编辑CRJ</h2>
                </div>
                <div class="modal-body">
                    <div class="modal-body">
                        <form class="form-horizontal" role="form">


                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" >公司名 </label>

                                <div class="col-sm-9">
                                    <select class="col-xs-10 col-sm-5"  v-model="editmsg['cid']">
                                        <option value="" disabled>请选择运营商公司</option>
                                        <option v-for="item in companyList" :value="item.id">{{item.name}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right"> 业务编号 </label>
                                <div class="col-sm-9">
                                    <input type="text"  placeholder="" class="col-xs-10 col-sm-5"
                                           v-model="editmsg['crj']">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right"> 安装地址 </label>
                                <div class="col-sm-9">
                                    <input type="text"  placeholder="" class="col-xs-10 col-sm-5"
                                           v-model="editmsg['address']">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" >运营商 </label>

                                <div class="col-sm-9">
                                    <select class="col-xs-10 col-sm-5"  v-model="editmsg['isp']">
                                        <option value="" disabled>请选择业务类型</option>
                                        <option v-for="item in threelist " :value="item.id">{{item.name}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" >运营商经理</label>

                                <div class="col-sm-9">
                                    <select class="col-xs-10 col-sm-5"  v-model="editmsg['isp_manager']">
                                        <option value="" disabled>请选择运营商经理</option>
                                        <option v-for="item in ispList " :value="item.id">{{item.isp_sales}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" >业务员 </label>
                                <div class="col-sm-9">
                                    <input type="text"  placeholder="" class="col-xs-10 col-sm-5" v-model="editmsg['sales']">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right"> 客户需求 </label>
                                <div class="col-sm-9">
                                    <input type="text"  placeholder="" class="col-xs-10 col-sm-5"
                                           v-model="editmsg['demand']">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" > 实际套餐 </label>
                                <div class="col-sm-9">
                                    <input type="text"  placeholder="" class="col-xs-10 col-sm-5"
                                           v-model="editmsg['actual']">
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" >带宽 </label>

                                <div class="col-sm-9">
                                    <select class="col-xs-10 col-sm-5"  v-model="editmsg['speed']">
                                        <option value="" disabled>请选择带宽</option>
                                        <option v-for="item in speedList" :value="item.id">{{item.name}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right"> 套餐价格 </label>
                                <div class="col-sm-9">
                                    <input type="text"  placeholder="" class="col-xs-10 col-sm-5" v-model="editmsg['price']">
                                    <span class="help-inline col-xs-12 col-sm-7"></span>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" > 售价格 </label>
                                <div class="col-sm-9">
                                    <input type="text"  placeholder="" class="col-xs-10 col-sm-5" v-model="editmsg['s_price']">
                                    <span class="help-inline col-xs-12 col-sm-7"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" >结算方式 </label>

                                <div class="col-sm-9">
                                    <select class="col-xs-10 col-sm-5"  v-model="editmsg['method']">
                                        <option value="" disabled>请选择结算方式</option>
                                        <option v-for="item in methodlist" :value="item.id">{{item.name}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" >业务状态 </label>

                                <div class="col-sm-9">
                                    <select class="col-xs-10 col-sm-5"  v-model="editmsg['status']">
                                        <option value="" disabled>请选择状态</option>
                                        <option v-for="item in bus_status" :value="item.id">{{item.name}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" > 端口信息 </label>

                                <div class="col-sm-9">
                                    <input type="text"
                                           class="col-xs-10 col-sm-5" v-model="editmsg['port']">
                                    <span class="help-inline col-xs-12 col-sm-7"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" >开通时间 </label>
                                <div class="col-sm-9">
                                    <input type="text" id="edit_start"  class="col-xs-10 col-sm-5"
                                           placeholder="请输入开通时间" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" >
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" >到期时间 </label>
                                <div class="col-sm-9 ">
                                    <input type="text" id="edit_end"  class="col-xs-10 col-sm-5"
                                           placeholder="请输入到期时间" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" >
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" >拆机时间 </label>
                                <div class="col-sm-9 ">
                                    <input type="text" id ="edit_teardowm"  class="col-xs-10 col-sm-5"
                                           placeholder="请输入拆机时间" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})">
                                </div>
                            </div>

                        </form>
                    </div>

                </div>
                <div class="modal-footer text-right">
                    <button data-dismiss="modal" class="btn btn-primary btn-sm">取消</button>
                    <button data-dismiss="modal" class="btn btn-danger btn-sm" @click="edit">保存
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--删除-->
    <div role="dialog" class="modal fade bs-example-modal-sm " id="delete">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                    <h2 class="modal-title" >确定删除？</h2>
                </div>
                <div class="modal-footer text-right">
                    <button data-dismiss="modal" class="btn btn-primary btn-sm">取消</button>
                    <button data-dismiss="modal" class="btn btn-danger btn-sm" @click="del(delid)">确定
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--role-->


</div>
{/block}
{block name="footer"}
<script src="<?= $js?>/admin/crj.js"></script>

{/block}