<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1">
    <title>蜂悠科技网络管家</title>
    <meta name="keywords" content="" />
    <meta name="description" content="蜂悠科技始终以传承，开放，包容，突破为公司理念，以市场为导向，为各行业客户提供全方
位的解决方案及专业技术服务, 致力为中国的信息化建设作出最大的贡献。 " />
    <link rel="icon" type="image/x-icon" href="favicon.png"/>
    <link href="<?= $css ?>/main.css"  rel="stylesheet" type="text/css" />
    <link href="<?= $css ?>/index.css"  rel="stylesheet" type="text/css" />
    <link href="<?= $css ?>/media.css"  rel="stylesheet" type="text/css" />
    <link href="<?= $css ?>/phone.css"  rel="stylesheet" type="text/css" />
    <script language="javascript" type="text/javascript" src="<?= $js ?>/jquery-1.7.1.min.js" ></script>
    <script language="javascript" type="text/javascript" src="<?= $js ?>/easing.js" ></script>
    <script language="javascript" type="text/javascript" src="<?= $js ?>/js.js" ></script>
    <script language="javascript" type="text/javascript" src="<?= $js ?>/fun.js" ></script>
    <script language="javascript" type="text/javascript" src="<?= $js ?>/form.js" ></script>
    <script language="javascript" type="text/javascript" src="<?= $js ?>/jquery.SuperSlide.2.1.1.js" ></script>
    {block name="header"}
    {/block}
</head>
<body>
    <div class="headDiv pageHead">
        <a href="/"  class="logo"></a>
        <a href="/"  class="logo"></a>
        <a href="javascript:;" class="navA"></a>
        <div class="nav">
            <div class="bg"></div>
            <ul>
                <li><a href="/" >首页</a></li>
                <li><a href="/product" class="<?= $on1 ?>" >产品介绍</a></li>
                <li><a href="/example"  class="<?= $on2 ?>">成功案例</a></li>
                <li><a href="/about"  class="<?= $on3 ?>">公司简介</a></li>
                <li><a href="/connect"  class="<?= $on4 ?>">联系我们</a></li>
                <li><a href="/index/center"  class="">会员中心</a></li>

            </ul>

        </div>

    </div>

    <div class="zbanner"></div>
{block name="main"}
    <div class="phoneBg">
        <div class="wal">
            <!--wal-->
            <div class="case_01">
                <div class="title"><div>关于我们</div></div><a href=""></a>
                <div class="content">蜂悠科技提供的全系列性能管理方案包括：数据库管理，交易性能管理，核心业务保障管理，网络性能管理和运营大数据分析等。   </div>
            </div>
            <div class="about_01 listHover slide-B">
                <ul>
                    <li>
                        <div class="content"><p>公司成立于2015年,主要经营范围: ISP（运营商服务）、VNO（虚拟运营商）、系统集成、弱电项目、软件开发等。
                            我们致力于为客户提供从宽带接入、网络建设、安防监控、以及其他通信或IT的增值服务。更灵活的业务模式、全方位的产品供应、强大的运维服务是我们在行业内良好口碑的关键！
                            <br/></p></div>
                        <div class="imgDiv"><div><img src="<?= $img ?>/a804868d301f618cbd0c355b70efcbcb.jpg" /></div></div>
                    </li>
                    <li>
                        <div class="content"><p>目前蜂悠科技下辖有上海蜂悠科技有限公司及覆盖全国的办事处。<br/>2018年，蜂悠科技在上海成立蜂悠科技上海研发中心，专门研发最适合客户IT环境的应用性能管理产品。
                            &nbsp; &nbsp; &nbsp;</p></div>
                        <div class="imgDiv"><div><img src="<?= $img ?>/846033f7d78952402c08647ee5b481be.jpg"></div></div>
                    </li>
                    <li>
                        <div class="content"><p>近年来，我们专注于提供全系列企业级性能管理方案和相关的IT服务，在帮助用户提高业务效率和整体生产力的同时，降低运营和运维成本。<br/>东方龙马提供的全系列性能管理方案包括：数据库管理，交易性能管理，核心业务保障管理，网络性能管理和运营大数据分析等。
                            &nbsp; &nbsp; &nbsp;</p></div>
                        <div class="imgDiv"><div><img src="<?= $img ?>/769800839a6b2c36c10734c1ccab3892.jpg" ></div></div>
                    </li>
                </ul>
                <div class="h10"></div>
            </div>
            <!--walEnd-->
        </div>
    </div>
    <div class="about_02">
        <div class="wal slide-B">
            <div class="title"><i></i><div>蜂悠传奇的制造者</div>Orient LegendMaker</div>
            <div class="content"><p>企业的标志设计简洁明了，充分体现蜂悠科技作为信息技术公司精简干练，朝气蓬勃。公司Logo取意&quot;蜂悠传奇的制造者&quot;。以中英文为基本元素，英
                文&quot;OLM&quot;是&quot;Orient LegendMaker&quot;的首字母缩写，让读者简单易懂企业标志的取意；中文&quot;蜂悠科技&quot;的&quot;东方&quot;是&quot;Orient
                &quot;的中文翻译，&quot;龙马&quot;是英文缩写中&quot;LM&quot;的谐音，龙是中国神话传说中的神异动物，代表中华民族文化传承；龙马代表龙马精神，象征着高效腾达。东方龙马
                取义东方的引领者、创新、前瞻、和谐、稳健，充分体现了东方龙马的企业精神：专业，专注，传承，开放。</p></div>
            <div class="imgDiv"><img src="<?= $img ?>/f3c3946c59b50b25293e4ab793e074df.png"></div>
        </div>
    </div>
    <a href="javascript:;" class="topA"></a>
{/block}
<div class="pageFoot">
    <div class="wal">
        <div class="tel" >
            <a href="/"  class="logo"><img style="margin-top:33px" src="/static/home/images/logo.png" ></a>

        </div>
        <div class="list">
            <ul>
                <li class="li_01">
                    <div class="name2"><a href="/product" >解决方案</a></div>

                </li>
                <li class="li_02">
                    <div class="name2"><a href="/">蜂悠科技</a></div>

                </li>
                <li class="li_03">
                    <div class="name2"><a href="/contact">联系我们</a></div>

                </li>
                <li class="li_04">
                    <div class="name2"><a href="/about" >关于我们</a></div>

                </li>
            </ul>
        </div>

    </div>
</div>
<div class="footMsg">Copyright&nbsp;2018-2020&nbsp;版权所有&nbsp;上海蜂悠科技有限公司&nbsp;京ICP备09044093号</div>
<div style="display:none">
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "http://hm.baidu.com/hm.js-ad5a48b3b3545386e5679d24074a3300";
            var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
        })();
    </script>
</div>
    {block name='footer'}
    {/block}
</body>
</html>