{{extend name="index/about" /}}
{block name="main"}
<div class="phoneBg slide-B">
    <div class="wal">
        <!--wal-->
        <div class="amlTitle">
            <em>联系安码龙</em>
            <div class="name">contact</div>
        </div>
        <div class="amlPart4">
            <div class="imgDiv">
                <img src="<?= $img ?>/979b6f9ea04ed814b14127747e7033f8.png">
            </div>
            <div class="name">
                <div><img src="<?= $img ?>/6ff7f66bf04eccc380b81e9cc3f915e5.png"
                          ></div>
                安码龙科技有限公司<br/><span>Approbe Inc.</span></div>
            <div class="list">
                <ul>
                    <li><img src="<?= $img ?>/nimg25_1.png" >地址：上海市闵行区吴中路1799号万象城A座601室
                    </li>
                    <li><img src="<?= $img ?>/nimg25_2.png" >电话：<b>021-5476
                        0508</b></li>
                    <li><img src="<?= $img?>/nimg25_3.png">邮箱：net@cnlink.cc
                    </li>
                    <li><img src="<?= $img ?>/nimg25_4.png" >传真：<b>021-5476
                        0509</b></li>
                </ul>
            </div>
            <div class="h10"></div>
        </div>
        <!--walEnd-->
    </div>
</div>
<a href="javascript:;" class="topA"></a>
{/block}
{block name="footer"}
<script type="text/javascript">
    (function ($) {
        $(window).bind("hashchange", function (e) {
            hash();
        });
        hash();

        function hash() {
            var hash = window.location.hash;
            if (hash.indexOf("#") == -1) hash = "#";
            hash = hash.split("#")[1];
            if (hash.indexOf("/") == 0) hash = hash.substr(1);
            hashElements = hash.split("/");
            if (hashElements != '') {
                $('body,html').animate({scrollTop: $(".phoneBg").eq(hashElements).offset().top}, 1000);
            }
        }
    })(jQuery);
</script>
{/block}
