
{{extend name="index/about" /}}
{block name="main"}
<div class="phoneBg">
    <div class="wal">
        <!--wal-->
        <div class="case_01 slide-B">
            <div class="title">
                <div>成功案例</div>
                Successful Cases
            </div>
            <a href=""></a>
            <div class="content">
                作为全系列性能管理方案的引领者，东方龙马始终关注企业的多维度需求，秉承"专业专注，不断创新"的服务理念，为用户提供最适合的专业化服务。
            </div>
        </div>
        <div class="case_02 listHover slide-B">
            <ul>
                <li>
                    <div class="imgDiv"><a href="" >
                        <img src="<?= $img ?>/nimg557_1.jpg">
                    </a>
                    </div>
                    <div class="name">
                        <a href="">电信行业APM</a>
                    </div>
                    <div class="box">
                        <a href="" >
                            <div class="content">
                                <p><span style=";font-family:微软雅黑;font-size:14px"><span style="font-family:微软雅黑">该联通的企业应用系统基本上由基础架构（网络、防火墙、路由器、交换机、主机等）和应用（数据库、应用服务器</span> <span
                                        style="font-family:微软雅黑">、业务应用）构成。其中，直接与业务最密切相关的就是应用，而某联通信息化部门的目标就是把运维工作的重点从平台延伸到对应用的运维。</span></span>
                                </p>
                                <p><br/></p></div>
                        </a>
                        <div class="btn"><a href="" t></a></div>
                    </div>
                </li>
                <li>
                    <div class="imgDiv"><a href="" tppabs=""><img
                            src="<?= $img ?>/nimg557_2.jpg"/></a>
                    </div>
                    <div class="name"><a href="" >金融行业BPM</a></div>
                    <div class="box">
                        <a href="" >
                            <div class="content">
                                <p><span style=";font-family:微软雅黑;font-size:14px"><span style="font-family:微软雅黑">为其客户提供全方位综合金融服务，打造综合金融的核心优势，以资源整合、平台经营、专业服务为导向</span>, 积极创新产品和业务模式，以差异化的服务、稳健的经营、出色的绩效，为其客户、员工、股东以及社会创造更大的价值。</span>
                                </p>
                                <p><br/></p></div>
                        </a>
                        <div class="btn"><a href=""></a></div>
                    </div>
                </li>
            </ul>
            <div class="h10"></div>
        </div>
        <div class="case_03 slide-B">
            <div class="slick">
                <ul>

                    <li><a href="javascript:;">
                        <div><img src="<?= $img ?>/6a91c9d7b7ce6cae8cdf6a4a1629fcbf.png">
                        </div>
                        重庆银行</a>
                    </li>
                    <li><a href="javascript:;">
                        <div><img src="<?= $img ?>/6a91c9d7b7ce6cae8cdf6a4a1629fcbf.png">
                        </div>
                        重庆银行</a>
                    </li>
                    <li><a href="javascript:;">
                        <div><img src="<?= $img ?>/6a91c9d7b7ce6cae8cdf6a4a1629fcbf.png">
                        </div>
                        重庆银行</a>
                    </li>
                    <li><a href="javascript:;">
                        <div><img src="<?= $img ?>/6a91c9d7b7ce6cae8cdf6a4a1629fcbf.png">
                        </div>
                        重庆银行</a>
                    </li>
                    <li><a href="javascript:;">
                        <div><img src="<?= $img ?>/6a91c9d7b7ce6cae8cdf6a4a1629fcbf.png">
                        </div>
                        重庆银行</a>
                    </li>
                    <li><a href="javascript:;">
                        <div><img src="<?= $img ?>/6a91c9d7b7ce6cae8cdf6a4a1629fcbf.png">
                        </div>
                        重庆银行</a>
                    </li>
                </ul>
                <div class="h10"></div>
            </div>

            <div class="slick">
                <ul>

                    <li><a href="javascript:;">
                        <div><img src="<?= $img ?>/6a91c9d7b7ce6cae8cdf6a4a1629fcbf.png">
                        </div>
                        重庆银行</a>
                    </li>
                    <li><a href="javascript:;">
                        <div><img src="<?= $img ?>/6a91c9d7b7ce6cae8cdf6a4a1629fcbf.png">
                        </div>
                        重庆银行</a>
                    </li>
                    <li><a href="javascript:;">
                        <div><img src="<?= $img ?>/6a91c9d7b7ce6cae8cdf6a4a1629fcbf.png">
                        </div>
                        重庆银行</a>
                    </li>
                    <li><a href="javascript:;">
                        <div><img src="<?= $img ?>/6a91c9d7b7ce6cae8cdf6a4a1629fcbf.png">
                        </div>
                        重庆银行</a>
                    </li>
                    <li><a href="javascript:;">
                        <div><img src="<?= $img ?>/6a91c9d7b7ce6cae8cdf6a4a1629fcbf.png">
                        </div>
                        重庆银行</a>
                    </li>
                    <li><a href="javascript:;">
                        <div><img src="<?= $img ?>/6a91c9d7b7ce6cae8cdf6a4a1629fcbf.png">
                        </div>
                        重庆银行</a>
                    </li>
                </ul>
                <div class="h10"></div>
            </div>
            <div class="slick">
                <ul>

                    <li><a href="javascript:;">
                        <div><img src="<?= $img ?>/6a91c9d7b7ce6cae8cdf6a4a1629fcbf.png">
                        </div>
                        重庆银行</a>
                    </li>
                    <li><a href="javascript:;">
                        <div><img src="<?= $img ?>/6a91c9d7b7ce6cae8cdf6a4a1629fcbf.png">
                        </div>
                        重庆银行</a>
                    </li>
                    <li><a href="javascript:;">
                        <div><img src="<?= $img ?>/6a91c9d7b7ce6cae8cdf6a4a1629fcbf.png">
                        </div>
                        重庆银行</a>
                    </li>
                    <li><a href="javascript:;">
                        <div><img src="<?= $img ?>/6a91c9d7b7ce6cae8cdf6a4a1629fcbf.png">
                        </div>
                        重庆银行</a>
                    </li>
                    <li><a href="javascript:;">
                        <div><img src="<?= $img ?>/6a91c9d7b7ce6cae8cdf6a4a1629fcbf.png">
                        </div>
                        重庆银行</a>
                    </li>
                    <li><a href="javascript:;">
                        <div><img src="<?= $img ?>/6a91c9d7b7ce6cae8cdf6a4a1629fcbf.png">
                        </div>
                        重庆银行</a>
                    </li>
                </ul>
                <div class="h10"></div>
            </div>
            <div class="slick">
                <ul>

                    <li><a href="javascript:;">
                        <div><img src="<?= $img ?>/6a91c9d7b7ce6cae8cdf6a4a1629fcbf.png">
                        </div>
                        重庆银行</a>
                    </li>
                    <li><a href="javascript:;">
                        <div><img src="<?= $img ?>/6a91c9d7b7ce6cae8cdf6a4a1629fcbf.png">
                        </div>
                        重庆银行</a>
                    </li>
                    <li><a href="javascript:;">
                        <div><img src="<?= $img ?>/6a91c9d7b7ce6cae8cdf6a4a1629fcbf.png">
                        </div>
                        重庆银行</a>
                    </li>
                    <li><a href="javascript:;">
                        <div><img src="<?= $img ?>/6a91c9d7b7ce6cae8cdf6a4a1629fcbf.png">
                        </div>
                        重庆银行</a>
                    </li>
                    <li><a href="javascript:;">
                        <div><img src="<?= $img ?>/6a91c9d7b7ce6cae8cdf6a4a1629fcbf.png">
                        </div>
                        重庆银行</a>
                    </li>
                    <li><a href="javascript:;">
                        <div><img src="<?= $img ?>/6a91c9d7b7ce6cae8cdf6a4a1629fcbf.png">
                        </div>
                        重庆银行</a>
                    </li>
                </ul>
                <div class="h10"></div>
            </div>
        </div>
        <link href="<?= $css ?>/slick.css"  rel="stylesheet"
              type="text/css"/>
        <script src="<?= $js ?>/slick.js" ></script>
        <script type="text/javascript">
            $(function () {
                $('.case_03').slick({
                    dots: true,
                    dots: true,
                    infinite: true,
                    autoplay: true,
                    arrows: true,
                    speed: 500,
                    slidesToShow: 3,
                    slidesToScroll: 1,
                    responsive: [
                        {
                            breakpoint: 800,
                            settings: {
                                slidesToShow: 1,
                                slidesToScroll: 1,
                            }
                        },
                    ]
                });
            })
        </script>
        <!--walEnd-->
    </div>
</div>
<a href="javascript:;" class="topA"></a>

{/block}
{block name="footer"}
{/block}
