<!DOCTYPE HTML>
<html>
<!--头部分-->
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1">
    <title>蜂悠科技网络管家</title>
    <meta name="keywords" content="蜂悠科技网络管家"/>
    <meta name="description"
          content="蜂悠科技始终关注企业的多维度需求，专注于数据库管理,交易性能管理,核心业务保障管理,网络性能管理,运营大数据分析等全系列性能管理，大数据分析，数据库，中间件服务。秉承&quot;专业专注，不断创新&quot;的服务理念，为用户提供最适合的专业化服务。"/>
    <meta name="format-detection" content="telephone=no"/>
    <link href="<?= $css ?>/main.css" rel="stylesheet" type="text/css"/>
    <link href="<?= $css ?>/index.css"  rel="stylesheet"
          type="text/css"/>
    <link href="<?= $css ?>/media.css" rel="stylesheet"
          type="text/css"/>
    <link href="<?= $css ?>/phone.css"  rel="stylesheet"
          type="text/css"/>
    <script language="javascript" type="text/javascript" src="<?= $js ?>/jquery.min.js"
    ></script>
    <script language="javascript" type="text/javascript" src="<?= $js ?>/easing.js"
    ></script>
    <script language="javascript" type="text/javascript" src="<?= $js ?>/js.js"
    ></script>
    <script language="javascript" type="text/javascript" src="<?= $js ?>/fun.js"
    ></script>
    <script language="javascript" type="text/javascript" src="<?= $js ?>/form.js"
    ></script>
    <script language="javascript" type="text/javascript" src="<?= $js ?>/jquery.SuperSlide.2.1.1.js"
    ></script>
    <link href="<?= $js ?>/slick.css" rel="stylesheet" type="text/css"/>
    <script src="<?= $js ?>/slick.js" ></script>
    <script src="<?= $js ?>/jquery.fullPage.min.js"></script>
    {block name="header"}
    {/block}
</head>
<!--头部分 end-->
<body>

<!-- 导航 -->
<div class="headDiv  ">
    <!--<a href="/" class=""> <img src="/static/home/images/logo.png" style="margin: 20px 20px 20px 40px;width: 160px;"></a>-->
    <a href="/"  class="logo"></a>
    <a href="/"  class="logo"></a>
    <a href="javascript:;" class="navA"></a>
    <!--导航 -->
    <div class="nav">
        <div class="bg"></div>
        <ul>
            <li><a href="/" class="on">首页</a></li>
            <li><a href="/product" >产品介绍</a></li>
            <li><a href="/example" >成功案例</a></li>
            <li><a href="/about" >公司简介</a></li>
            <li><a href="/connect" >联系我们</a></li>
            <li><a href="/index/center"  class="">会员中心</a></li>

        </ul>
    </div>
    <!--导航 end -->
    
</div>
<!-- 导航 -->

{block name="main"}

<div class="indexIco"></div>

<ul id="menu">
    <li data-menuanchor="page1" class="active"><a href="#page1"></a></li>
    <li data-menuanchor="page2"><a href="#page2"></a></li>
    <li data-menuanchor="page3"><a href="#page3"></a></li>
    <li data-menuanchor="page4"><a href="#page4"></a></li>
    <li data-menuanchor="page5"><a href="#page5"></a></li>
</ul>
<div id="dowebok">
    <div class="section">

        <!--介绍列表-->
        <div class="indexPart1List listHover">
            <ul>
                <li class="li_01">
                    <div class="imgDiv"><a href="" >
                        <img src="<?= $img ?>/img390_1.jpg"
                        ></a></div>
                    <div class="box">
                        <div class="name"><a href="" ><全系列性能管理></全系列性能管理></a>
                        </div>
                        <div class="msg"><a href="javascript:;">Full Series Performance Management</a></div>
                        <div class="btn"><a href="javascript:;">APM</a>|<a href="javascript:;">BPM</a>|<a
                                href="javascript:;">NPM</a>|<a href="javascript:;">VM</a></div>
                    </div>
                </li>
                <li class="li_02">
                    <div class="imgDiv"><a href="" ><img
                            src="<?= $img ?>/img390_2.jpg"
                    ></a></div>
                    <div class="img"><a href="" ><img
                            src="<?= $img ?>/img150_1.png"
                    ></a></div>
                </li>
                <li class="li_03">
                    <div class="imgDiv"><a href="" ><img
                            src="<?= $img ?>/img390_3.jpg"
                    ></a></div>
                    <div class="box">
                        <div class="name"><a href="" >大数据</a></div>
                        <div class="msg"><a href="javascript:;">Big Data</a></div>
                        <div class="btn"><a href="javascript:;">大数据采集</a>|<a href="javascript:;">大数据分析</a>|<a
                                href="javascript:;">大数据应用</a></div>
                    </div>
                </li>
                <li class="li_04">
                    <div class="imgDiv"><a href="" ><img src="<?= $img ?>/img390_4.jpg"></a></div>
                    <div class="img"><a href="l,9,0.html" ><img src="<?= $img ?>/img150_2.png"
                    ></a></div>
                </li>
                <li class="li_05">
                    <div class="imgDiv"><a href="" ><img src="<?= $img ?>/img390_5.jpg"
                    ></a></div>
                    <div class="box">
                        <div class="name"><a href="" >数据库/中间件</a>
                        </div>
                        <div class="msg"><a href="javascript:;">DataBase/Middleware</a></div>
                        <div class="btn"><a href="javascript:;">技术交流</a>|<a href="javascript:;">产品部署</a>|<a
                                href="javascript:;">驻场运维</a>|<a href="javascript:;">日常巡检</a><br><a href="javascript:;">数据分析</a>|<a
                                href="javascript:;">性能优化</a>|<a href="javascript:;">迁移和容灾</a></div>
                    </div>
                </li>
                <li class="li_06">
                    <div class="imgDiv"><a href="" ><img
                            src="<?= $img ?>/img390_6.jpg"
                    ></a></div>
                    <div class="img"><a href="" ><img
                            src="<?= $img ?>/img150_3.png"
                    ></a></div>
                </li>
            </ul>
            <span class="clear"></span>
        </div>
        <!--end-->
    </div>
    <div class="section indexPart2" style="background:url(<?= $img ?>/img1920_2.jpg) center;">
        <div class="box">
            <div class="wal">
                <div class="indexTitle">
                    <i></i><i class="i-1"></i>
                    <div class="box-5">
                        <div>解决方案</div>
                        <em>Solutions</em>
                        <p>为全国各行业用户提供全方位的"解决方案"及"专业技术服务"，并全力拓展大数据及云计算相关的业务，
                            <br>
                            为中国的信息化建设作出最大的贡献。</p>
                    </div>
                </div>
                <div class="msg"><span>专业专注</span><em>不断创新</em></div>
                <div class="list listHover">
                    <ul>
                        <li class="li_01" style="cursor:pointer">
                            <div class="listDiv">
                                <div class="imgDiv">
                                    <img src="<?= $img ?>/1a5de83b81b0de20bf61376a62a9791e.png">
                                    <img src="<?= $img ?>/16d8e2ae83f8a3fd3d1b92c8ddad5971.png" class="img2"></div>
                                <div class="name">
                                    <div>数据生命周期服务解决方案</div>
                                    Data full Life<br/>
                                    Cycle service solutions
                                </div>
                                <a href=""  class="btn"></a>
                            </div>
                        </li>
                        <li class="li_02" style="cursor:pointer">
                            <div class="listDiv">
                                <div class="imgDiv">
                                    <img src="<?= $img ?>/50563657fe257fec2e14627e1409d2fc.png">
                                    <img src="<?= $img ?>/f6c8953e0a2fcd69f01d5523be0237ed.png" class="img2"></div>
                                <div class="name">
                                    <div>全系列性能管理解决方案</div>
                                    Full Series Performance<br/>
                                    Management Solutions
                                </div>
                                <a href=""  class="btn"></a>
                            </div>
                        </li>
                        <li class="li_03" style="cursor:pointer">
                            <div class="listDiv">
                                <div class="imgDiv">
                                    <img src="<?= $img ?>/9f2294cc8d73d7c0a33e1d6b535d900c.png">
                                    <img src="<?= $img ?>/069717c1e4a7b99c75d43a929b449c76.png" class="img2">
                                </div>
                                <div class="name">
                                    <div>大数据分析解决方案</div>
                                    Big data<br/>
                                    Analysis solution
                                </div>
                                <a href=""  class="btn"></a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="h10"></div>
            </div>
        </div>
    </div>
    <div class="section indexPart3"
         style="background:url(<?= $img ?>/img1920_3.jpg) center;">
        <div class="box">
            <div class="wal">
                <div class="indexTitle">
                    <i></i><i class="i-1"></i>
                    <div class="box-5">
                        <div>我们的优势</div>
                        <em>advantage</em>
                        <p>蜂悠科技整体实力综合体现在研发、代理、服务和咨询几个方面，业界领先的工程师力量，<br>我们在全国有4个分公司，分别覆盖了华北、华东、华南、华西</p>
                    </div>
                </div>
                <div class="list listHover">
                    <ul>
                        <li class="li_01">
                            <div class="imgDiv"><img src="<?= $img ?>/d55126dec00e12c1fd3f9e0fc06f0f86.png"
                            >
                            </div>
                            <div class="name">工程师团队</div>
                            <p>拥有一支工程师、高级工程师到技术顾问的完善技术团队，技术团队达到70人以上</p>
                        </li>
                        <li class="li_02">
                            <div class="imgDiv"><img src="<?= $img ?>/b37914d5cb50ed66c20b72eac33fbcd1.png"
                            >
                            </div>
                            <div class="name">自主研发</div>
                            <p>拥有一支专业的研发队伍，针对企业及互联网+研发新一代的应用性能管理软件，并申请了国家的认证</p>
                        </li>
                        <li class="li_03">
                            <div class="imgDiv"><img src="<?= $img ?>/1574f74b64f8dfd381352da40c635f02.png"
                            >
                            </div>
                            <div class="name">服务体系</div>
                            <p>为用户提供规范而高效的整体服务体系：运维规范、运维基线、服务标准、技术文档</p>
                        </li>
                        <li class="li_04">
                            <div class="imgDiv"><img src="<?= $img ?>/d97ada8c10875d614db482f45496219f.png"
                            >
                            </div>
                            <div class="name">客户基础</div>
                            <p>全国超过400个大客户的数据库及应用中间件管理经验,管理超过1500个系统,涉及政府、金融、电信、税务、制造等各个行业</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="section indexPart4"
         style="background:url(<?= $img ?>/img1920_4.jpg) center;">
        <div class="box">
            <div class="wal">
                <div class="indexTitle">
                    <i></i><i class="i-1"></i>
                    <div class="box-5">
                        <div>我们的客户</div>
                        <em>customers</em>
                        <p>全国超过400个大客户的数据库及应用中间件管理经验,<br>管理超过1500个系统,涉及政府、金融、电信、税务、制造等各个行业</p>
                    </div>
                </div>
                <div class="fl tab">
                    <ul>
                        <li class="liNow">金融</li>
                        <li class="">政府</li>
                        <li class="">电信</li>
                        <li class="">能源</li>
                        <li class="">企业</li>
                        <li class=" li_01">其他</li>
                    </ul>
                </div>
                <div class="fr tabContentDiv listHover">
                    <ul class="tabContent">
                        <li>
                            <div><a href="javascript:void(0);"><em><img
                                    src="<?= $img ?>/6a99dd98bc13d0182be1eabe5357155a.png"
                            ></em></a>
                            </div>
                        </li>

                        <li>
                            <div><a href="javascript:void(0);"><em><img
                                    src="<?= $img ?>/6a99dd98bc13d0182be1eabe5357155a.png"
                            ></em></a>
                            </div>
                        </li>
                        <li>
                            <div><a href="javascript:void(0);"><em><img
                                    src="<?= $img ?>/6a99dd98bc13d0182be1eabe5357155a.png"
                            ></em></a>
                            </div>
                        </li>
                    </ul>
                    <ul class="tabContent">
                        <li>
                            <div><a href="javascript:void(0);"><em><img
                                    src="<?= $img ?>/6a99dd98bc13d0182be1eabe5357155a.png"
                            ></em></a>
                            </div>
                        </li>

                        <li>
                            <div><a href="javascript:void(0);"><em><img
                                    src="<?= $img ?>/6a99dd98bc13d0182be1eabe5357155a.png"
                            ></em></a>
                            </div>
                        </li>
                        <li>
                            <div><a href="javascript:void(0);"><em><img
                                    src="<?= $img ?>/6a99dd98bc13d0182be1eabe5357155a.png"
                            ></em></a>
                            </div>
                        </li>
                    </ul>
                    <ul class="tabContent">
                        <li>
                            <div><a href="javascript:void(0);"><em><img
                                    src="<?= $img ?>/6a99dd98bc13d0182be1eabe5357155a.png"
                            ></em></a>
                            </div>
                        </li>

                        <li>
                            <div><a href="javascript:void(0);"><em><img
                                    src="<?= $img ?>/6a99dd98bc13d0182be1eabe5357155a.png"
                            ></em></a>
                            </div>
                        </li>
                        <li>
                            <div><a href="javascript:void(0);"><em><img
                                    src="<?= $img ?>/6a99dd98bc13d0182be1eabe5357155a.png"
                            ></em></a>
                            </div>
                        </li>
                    </ul>
                    <ul class="tabContent">
                        <li>
                            <div><a href="javascript:void(0);"><em><img
                                    src="<?= $img ?>/6a99dd98bc13d0182be1eabe5357155a.png"
                            ></em></a>
                            </div>
                        </li>

                        <li>
                            <div><a href="javascript:void(0);"><em><img
                                    src="<?= $img ?>/6a99dd98bc13d0182be1eabe5357155a.png"
                            ></em></a>
                            </div>
                        </li>
                        <li>
                            <div><a href="javascript:void(0);"><em><img
                                    src="<?= $img ?>/6a99dd98bc13d0182be1eabe5357155a.png"
                            ></em></a>
                            </div>
                        </li>
                    </ul>
                    <ul class="tabContent">
                        <li>
                            <div><a href="javascript:void(0);"><em><img
                                    src="<?= $img ?>/6a99dd98bc13d0182be1eabe5357155a.png"
                            ></em></a>
                            </div>
                        </li>

                        <li>
                            <div><a href="javascript:void(0);"><em><img
                                    src="<?= $img ?>/6a99dd98bc13d0182be1eabe5357155a.png"
                            ></em></a>
                            </div>
                        </li>
                        <li>
                            <div><a href="javascript:void(0);"><em><img
                                    src="<?= $img ?>/6a99dd98bc13d0182be1eabe5357155a.png"
                            ></em></a>
                            </div>
                        </li>
                    </ul>
                    <ul class="tabContent">
                        <li>
                            <div><a href="javascript:void(0);"><em><img
                                    src="<?= $img ?>/6a99dd98bc13d0182be1eabe5357155a.png"
                            ></em></a>
                            </div>
                        </li>

                        <li>
                            <div><a href="javascript:void(0);"><em><img
                                    src="<?= $img ?>/6a99dd98bc13d0182be1eabe5357155a.png"
                            ></em></a>
                            </div>
                        </li>
                        <li>
                            <div><a href="javascript:void(0);"><em><img
                                    src="<?= $img ?>/6a99dd98bc13d0182be1eabe5357155a.png"
                            ></em></a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="h10"></div>
            </div>
        </div>
    </div>
    <div class="section indexPart5"
         style="background:url(<?= $img ?>/img1920_5.png) center;">
        <div class="bbox"></div>
        <div class="box">
            <div class="list2">
                <ul>
                    <li class="li_01">
                        <h2 style="background-image:url(<?= $img ?>/1cacb49794ad5af00b89d95f019529c7.png);">
                            上海总部</h2>
                        <dl>
                            <dd class="dd_01">010-5907 0906</dd>
                            <dd class="dd_02">010-5907 0608</dd>
                            <dd class="dd_03">100020</dd>
                            <dd class="dd_04">北京市朝阳区朝外大街甲6号万通中心D座301室</dd>
                        </dl>
                    </li>
                </ul>
            </div>
            <div class="fl">
                <div class="name">
                    <div>上海蜂悠科技有限公司</div>
                    One-stop Internet Access Service Housekeeper    .
                </div>
                <div class="ewm">

                </div>
                <div class="list">
                    <ul>
                        <li class="li_02">
                            <div class="name2"><a href="l,1,0.html" >解决方案</a>
                            </div>
                        </li>
                        <li class="li_02">
                            <div class="name2"><a href="l,2,0.html" >蜂悠科技</a>
                            </div>
                        </li>
                        <li class="li_03">
                            <div class="name2"><a href="l,4,0.html" >新闻中心</a>
                            </div>

                        </li>
                        <li class="li_04">
                            <div class="name2"><a href="l,5,0.html" >关于我们</a>
                            </div>

                        </li>
                    </ul>
                </div>
                <div class="h10"></div>
            </div>
            <div class="fr">
                <ul>
                    <li class="li_02">
                        <i></i><em></em>
                        <a href="javascript:void(0);">上海公司</a>
                        <div class="yuan yuan-3"></div>
                        <div class="yuan yuan-4"></div>
                        <div class="yuan yuan-1"></div>
                        <div class="yuan yuan-2"></div>
                        <div class="box1">
                            <h2 style="background-image:url(<?= $img ?>/1cacb49794ad5af00b89d95f019529c7.png);">
                                上海公司</h2>
                            <dl>
                                <dd class="dd_01">021-3253 2870</dd>
                                <dd class="dd_02">021-3253 2870</dd>
                                <dd class="dd_03">200070</dd>
                                <dd class="dd_04">上海市闸北区恒丰路568号恒汇国际大厦1901室</dd>
                            </dl>
                        </div>
                    </li>

                </ul>
            </div>
            <div class="h10"></div>
        </div>

    </div>
</div>
{/block}


<div class="footDiv">
    <div class="wal" style="height: 80px;">
        <a href="/"  class="logo"><img src="/static/home/images/logo.png"></a>
        <div class="msg">Copyright&nbsp;2018-2020&nbsp;版权所有<em>&nbsp;上海蜂悠科技有限公司&nbsp;京ICP备09044093号</em></div>
    </div>
    <div style="display:none">
        <script>
            var _hmt = _hmt || [];
            (function () {
                var hm = document.createElement("script");
                hm.src = "http://hm.baidu.com/hm.js-ad5a48b3b3545386e5679d24074a3300";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();
        </script>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        indexPart1Fun();
        $(window).resize(function () {
            indexPart1Fun();
        })
        $('.indexPart1').slick({
            dots: true,
            infinite: true,
            autoplay: true,
            arrows: false,
            speed: 500,
            slidesToShow: 1,
            slidesToScroll: 1,
            fade: true
        });
    })

    function indexPart1Fun() {
        $('.indexPart1').find('.slick').height($(window).height());
    }
</script>
<script>
    $(function () {
        if ($(window).width() > 1000) {
            $('#dowebok').fullpage({
                anchors: ['page1', 'page2', 'page3', 'page4', 'page5'],
                menu: '#menu',
                afterRender: function (anchorLink, index) {
                    $('.section:first').addClass('on');
                },
                afterLoad: function (anchorLink, index) {
                    $('.section').removeClass('on');
                    $('.section').eq(index - 1).addClass('on');
                    if (index == 5) {
                        $('.indexIco').addClass('on');
                        $('.footDiv').addClass('on');
                    } else {
                        $('.indexIco').removeClass('on');
                        $('.footDiv').removeClass('on');
                    }
                }
            });
        }
    });
</script>

<script type="text/javascript">

    // $('.indexPart1').slick({
    //   dots: false,
    //   infinite: true,
    //   autoplay:true,
    //   arrows: true,
    //   speed: 300,
    //   slidesToShow: 1,
    //   slidesToScroll: 1,
    //   fade:true
    // });

    // $('.indexPart1').slick({
    //     dots: false,
    //     infinite: true,
    //     autoplay:true,
    //     arrows: true,
    //     speed: 500,
    //     slidesToShow: 1,
    //     slidesToScroll: 1,
    //     responsive: [
    //       {
    //         breakpoint: 800,
    //         settings: {
    //         slidesToShow: 1,
    //         slidesToScroll: 1,
    //         }
    //       },
    //       ]
    //   });

    // $('.slick-dots li').hover(function() {
    //   $('.indexPart1').slick('slickGoTo', $(this).index());
    // });
    // $('.slick-prev').hover(function() {
    //   $(this).css('background-image', 'url(/style/images/11_1.png)');
    // }, function() {
    //   $(this).css('background-image', 'url(/style/images/11.png)');
    // });
    // $('.slick-next').hover(function() {
    //   $(this).css('background-image', 'url(/style/images/10_1.png)');
    // }, function() {
    //   $(this).css('background-image', 'url(/style/images/10.png)');
    // });


</script>

</body>

</html>