
{{extend name="index/about" /}}
{block name="main"}
<div class="phoneBg">
    <div class="wal">
        <!--wal-->
        <div class="amlTitle slide-B">
            <em>蜂悠产品基于两大主轴</em>
            <div class="msg">蜂悠致力于帮助企业级用户改善应用性能，降低IT运维成本，改善客户应用终端用户体验，帮助提升企业的IT交付质量。</div>
        </div>
        <div class="amlPart1 listHover slide-B">
            <ul>
                <li>
                    <div><p>基于性能管理的基础平台、该平台包括APM（应用性能管理）、基础组件性能管理（主机资源监控、操作系统监控、数据库监控）、网络性能管理等产品。</p></div>
                </li>
                <li>
                    <div><p>基于大数据架构的一体化性能管理平台，公司创新性的一体机私有云解决方案将为用户的性能预测和性能定位分析提供全程护航。</p></div>
                </li>
            </ul>
            <div class="h10"></div>
        </div>
        <!--walEnd-->
    </div>
</div>
<div class="phoneBg">
    <div class="wal">
        <!--wal-->
        <div class="amlTitle slide-B amlTitle-1">
            <em>产品</em>
            <div class="name">products</div>
            <div class="msg">帮助企业降低IT运维成本，改善客户应用终端用户体验，提升IT交付质量。</div>
        </div>
        <div class="amlPart2 listHover slide-B">
            <ul>
                <li>
                    <div class="name"><a href="javascript:void(0);">最终用户体验的监控</a></div>
                    <div class="imgDiv"><a href="javascript:void(0);">
                        <img src="<?= $img?>/257cedcc61755e63d056276bc279d248.png"
                          >
                        <img
                            src="<?= $img?>/05157dc58c135599ed46749b1ad1ba45.png"
                            class="img2"/></a></div>
                    <div class="content">针对最终用户的全方位监控，覆盖了浏览器渲染、网络延迟、服务器响应以及后台DB处理的端对端性能监控。并能比较不同区域、不同设备端的最终用户的体验。</div>
                </li>
                <li>
                    <div class="name"><a href="javascript:void(0);">代码级别的性能分析</a></div>
                    <div class="imgDiv"><a href="javascript:void(0);"><img
                            src="<?= $img?>/9d9ed44e6a02004e763fb9a24760c457.png"
                          />
                        <img
                            src="<?= $img?>/e0662edc3d2e14ecbf6535ebd271683f.png"
                            class="img2"/></a></div>
                    <div class="content">
                        页面、Ajax请求和iframes的性能微调。您还可以得到一个高度精确的浏览器的响应时间分解，甚至在最终用户的浏览器下产生的所有JavaScript错误。事故报告和详细的移动网络请求度量确保您的移动应用程序的最大可视化。
                    </div>
                </li>
                <li>
                    <div class="name"><a href="javascript:void(0);">易于操作的安装部署方式</a></div>
                    <div class="imgDiv"><a href="javascript:void(0);"><img
                            src="<?= $img?>/de3ac7bed38f78c84b36a74dfbb14b5d.png"
                            ><img
                            src="<?= $img?>/2390128d3026f4f8d16679194e0a32c1.png"

                            class="img2"/></a></div>
                    <div class="content">
                        设置、运行非常容易，如同在要监控的页面和移动应用上添加几行代码一样简单。蜂悠APPROBE用户体验管理的架构设计支持每天数十亿设备和用户会话，这是管理企业网站和移动应用的完美解决方案。
                    </div>
                </li>
                <li>
                    <div class="name"><a href="javascript:void(0);">应用系统整体拓扑架构的识别</a></div>
                    <div class="imgDiv"><a href="javascript:void(0);"><img src="<?= $img ?>/nimg83_4.png"
                                                                           ><img
                            src="<?= $img ?>/nimg83_4_1.png" 
                            class="img2"/></a></div>
                    <div class="content">蜂悠APPROBE能自动发现并生成你的应用程序和服务的拓扑视图，实时地监控到各节点之间的调用关系、请求数、响应时间等性能数据。</div>
                </li>
                <li>
                    <div class="name"><a href="javascript:void(0);">事务交易的实时关联跟踪</a></div>
                    <div class="imgDiv"><a href="javascript:void(0);"><img
                            src="<?= $img?>/f44a17cff726288416349a76e26d2360.png"
                           /><img
                            src="<?= $img?>/fd353fdcdd25accf19a8374425b7b6ab.png"
                            class="img2"/></a></div>
                    <div class="content">蜂悠APPROBE能自动的发现各类事务交易并能够跨越整个分布式系统进行端到端的跟踪，针对出问题的事务交易提供详细的性能数据快照。</div>
                </li>
                <li>
                    <div class="name"><a href="javascript:void(0);">应用程序的深入诊断</a></div>
                    <div class="imgDiv"><a href="javascript:void(0);"><img
                            src="<?= $img?>/000d355f7191f43f53f4a0cae9a2a48e.png"
                          ><img
                            src="<?= $img?>/7a80ba41b6193d700ce3a6b1ed718a85.png"
                            class="img2"/></a></div>
                    <div class="content">蜂悠APPROBE能快速定位造成性能问题的瓶颈点，提供程序调用、问题代码、数据库调用、硬件资源状况的根本原因分析。</div>
                </li>
            </ul>
            <div class="h10"></div>
        </div>
        <!--walEnd-->
    </div>
</div>
<div class="phoneBg slide-B amlPart3">
    <div class="wal">
        <!--wal-->
        <div class="amlTitle">
            <em>优势</em>
            <div class="name">advantage</div>
            <div class="msg">帮助企业降低IT运维成本，提升IT交付质量</div>
        </div>
        <div class="list listHover">
            <ul>
                <li class="li_01">
                    <div class="box">
                        <div class="imgDiv"><a href="javascript:void(0);"><img
                                src="<?= $img?>/9cd75e85dfe5fbbbb451fcfa87b3a6ee.png"
                              ><img
                                src="<?= $img?>/8bce2cc19719bdebf7e7d46cd0993d35.png"
                                class="img2"/></a></div>
                        <div class="name"><a href="javascript:void(0);">用户体验管理和行为分析</a></div>
                        <div class="content">可以深度监控和管理浏览器端的用户真实体验和用户行为</div>
                    </div>
                </li>
                <li class="li_02">
                    <div class="box">
                        <div class="imgDiv"><a href="javascript:void(0);"><img
                                src="<?= $img?>/84300b778239c28792e300818021be89.png"
                                ><img
                                src="<?= $img?>/562fb9ee42e4d3551d9a8dbc61583f37.png"
                                class="img2"/></a></div>
                        <div class="name"><a href="javascript:void(0);">应用服务器性能管理</a></div>
                        <div class="content">拥有一支专业的研发队伍，针对企业及互联网+研发新一代的应用性能管理软件，并申请了国家的认证</div>
                    </div>
                </li>
                <li class="li_03">
                    <div class="box">
                        <div class="imgDiv"><a href="javascript:void(0);"><img
                                src="<?= $img?>/7a2192918bd3338cf35fde275acdced7.png"
                               ><img
                                src="<?= $img?>/b08a8c4a410e373852ae8db422e6e7e1.png"

                                class="img2"/></a></div>
                        <div class="name"><a href="javascript:void(0);">应用拓扑</a></div>
                        <div class="content">不但能展现应用之间的关系，而且能展现代码之间的关系</div>
                    </div>
                </li>
            </ul>
            <div class="h10"></div>
        </div>
        <!--walEnd-->
    </div>
</div>
<a href="javascript:;" class="topA"></a>
{/block}
{block name="footer"}
<script type="text/javascript">
    (function ($) {
        $(window).bind("hashchange", function (e) {
            hash();
        });
        hash();

        function hash() {
            var hash = window.location.hash;
            if (hash.indexOf("#") == -1) hash = "#";
            hash = hash.split("#")[1];
            if (hash.indexOf("/") == 0) hash = hash.substr(1);
            hashElements = hash.split("/");
            if (hashElements != '') {
                $('body,html').animate({scrollTop: $(".phoneBg").eq(hashElements).offset().top}, 1000);
            }
        }
    })(jQuery);
</script>
{/block}
