<!DOCTYPE html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>个人中心</title>
    <link type="text/css" href="/static/home/css//css.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/static/home/css/bootstrap.min.css">
    <script type="text/javascript" src="/static/home/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/static/home/js/centerjs.js"></script>
    <script type="text/javascript" src="/static/home/js/vue.js"></script>
    <script type="text/javascript" src="/static/home/js/vue-resource.js"></script>
        <style >
            [v-cloak] {
             display: none !important;
        }
        </style>
    {block name="header"}
    {/block}
</head>

<body style="background:#F5F5F5">
<div class="mid">
    <h1 class="logo" style="text-align:left;">
        <a href="/"><img src="/static/home/images/centerlogo.png" width="304" height=""/></a>
    </h1>
    <div class="ding-gou">
        <div class="clears"></div>
    </div><!--ding-gou/-->
</div><!--mid-->
<main class="main" role="main">
    <div class="container">
        <div class="row">
                <div class="vipLeft col-xs-3 ">
                    <!--<h2 class="headImg"><img src="/static/home/images/logo.png" width="183" height="169"/></h2>-->
                    <h3 class="vipName"></h3>
                    <dl class="vipNav">
                        <dt class="vip_1 vipCur">订单中心</dt>
                        <dd class="<?= $on4 ?>"><a href="/index/center/order" >公司订单</a></dd>
                        <dt class="vip_2">账户设置</dt>
                        <dd class="<?= $on1 ?>"><a href="/index/center/index">个人信息</a></dd>
                        <dd class="<?= $on2 ?>"><a href="/index/center/pwd" >密码修改</a></dd>
                        <dd class="<?= $on3 ?>"><a href="/index/center/log" >历史登录</a></dd>
                        <dt class="vip_3">客户服务</dt>
                        <dd class="<?= $on5 ?>"><a href="/index/center/note" >在线留言</a></dd>
                        <dd class="<?= $on5 ?>"><a href="/index/person/logout" >退出登录</a></dd>

                    </dl><!--vipNav/-->
                </div><!--vipLeft/-->
                {block name="main"}
                <div class="vipRight col-xs-8 ">
                    <h2 class="vipTitle">个人中心</h2>

                    <form action="#" class="registerform">
                        <table class="grzx" width="705" border="0" cellspacing="0" cellpadding="0" >
                            <tr>
                                <td width="90"><span>*</span><strong>公司名称：</strong></td>
                                <td width="430" v-cloak> {{msg['name']}}
                                </td>
                            </tr>

                            <tr>
                                <td>&nbsp;<span>*</span><strong>登录名：</strong></td>
                                <td v-cloak>{{msg.user}}</td>
                            </tr>

                            <tr>
                                <td>&nbsp;<span>*</span><strong>登录IP：</strong></td>
                                <td v-cloak >{{msg.ip}}</td>
                            </tr>


                            <tr>
                                <td>&nbsp;<span>*</span><strong>上次登录：</strong></td>
                                <td v-cloak>{{msg.last_login_time}}</td>
                            </tr>

                        </table>
                    </form>
                </div><!--vipRight/-->
                {/block}
                <div class="clears"></div>
        </div>
    </div>
</main>

</div>

<div class="footBox" style="height: 90px">
    <div class="footers">
        <div class="footersLeft">
            <a href="index.html"><img src="/static/home/images/centerlogo.png" width="240" height="64"/></a>
            <div class="ftKe">
            </div><!--ftKe/-->
        </div><!--footersLeft/-->
        <div class="footersRight" style="margin-top: 27px;">
            <ul>
                <a href="/"><li class="ftTitle">首页</li></a>
            </ul>
            <ul>
                <a href="/about" ><li class="ftTitle">产品介绍</li></a>

            </ul>
            <ul>
                <a href="/example"><li class="ftTitle">成功案例</li></a>

            </ul>
            <ul>
                <a href="introduce" ><li class="ftTitle">公司简介</li></a>

            </ul>
            <ul>
                <a href="/connect"><li class="ftTitle">联系我们</li></a>

            </ul>

            <div class="clears"></div>
        </div><!--footersRight/-->
        <div class="clears"></div>
    </div><!--footers/-->
</div><!--footBox/-->
<div class="footer" style="text-align:left;">
    <span>&copy; 2014 Unqezi 使用前必读 沪ICP备 12007626号-1</span>
</div><!--footer/-->

    {block name="footer"}
    <script src="/static/home/js/center/index.js"></script>
    {/block}
</body>
</html>
