
    {{extend name="center/index" /}}
    {block name="header"}
    {/block}

    {block name="main"}
    <div class="vipRight">
        <h2 class="vipTitle">历史登录</h2>
        <table class="vip-dingzhi">
            <thead>
            <tr>
                <th>用户名</th>
                <th>时间</th>
                <th>IP地址</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>user</td>
                <td>2014年6月23日11:32:17</td>
                <td><a href="success.html"><strong>127.0.0.1</strong></a></td>
            </tr>
            <tr>
                <td>user</td>
                <td>2014年6月23日11:32:17</td>
                <td><a href="success.html"><strong>127.0.0.1</strong></a></td>
            </tr>
            <tr>
                <td>user</td>
                <td>2014年6月23日11:32:17</td>
                <td><a href="success.html"><strong>127.0.0.1</strong></a></td>
            </tr>
            <tr>
                <td>user</td>
                <td>2014年6月23日11:32:17</td>
                <td><a href="success.html"><strong>127.0.0.1</strong></a></td>
            </tr>
            <tr>
                <td>user</td>
                <td>2014年6月23日11:32:17</td>
                <td><a href="success.html"><strong>127.0.0.1</strong></a></td>
            </tr>
            </tbody>
        </table>
    </div>
    {/block}


    {block name="footer"}
    {/block}
