
    {{extend name="center/index" /}}
    {block name="header"}
    {/block}

    {block name="main"}
    <div class="vipRight">
        <h2 class="vipTitle">在线留言</h2>
        <form class="registerform">
            <table class="grzx" width="705" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td>&nbsp;留言：</td>
                    <td><textarea placeholder="请在这里输入您的的意见。" altercss="gray" class="gray" name="msg"  datatype="*"value=""></textarea></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td><button style="
                    border-radius: 3px;border: 1px solid transparent;   
                     cursor: pointer;-webkit-appearance: button;
                     padding: 6px 12px;    
                     font-size: 14px;
                    background: #ccc;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 1.42857143;
                    text-align: center;
                    white-space: nowrap;
                    vertical-align: middle;
                ">提交</button></td>
                </tr>
            </table>
        </form>
    </div>
    {/block}

    {block name="footer"}
    {/block}
