
    {{extend name="center/index" /}}
    {block name="header"}
    {/block}

    {block name="main"}
    <div class="vipRight col-xs-8" >
        <div class="row">
        <div class="col-xs-12">
            <div id='SearchForm'>
                <div class="row" style="margin-top: 20px">

                    <div class="col-xs-1">
                        <div class="form-group">
                            <span class="btn btn-primary btn-sm " @click = "getList()">发布留言</span>
                        </div>
                    </div>

                </div>
            </div>

            <div class="table-responsive">
                <table id="sample-table-2" class="table table-bordered  solidTab ">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>内容</th>
                        <th>回复状态</th>
                        <th>发布时间</th>
                        <th>查看</th>
                    </tr>
                    </thead>
                    <tbody>


                    </tbody>
                </table>
                <div class="box-footer clearfix">
                    <navigation :pages="pages" :current.sync="pageNo" @navpage="pageList"></navigation>
                </div>
            </div>

        </div>
    </div>

    </div>
    {/block}

    {block name="footer"}
    <script src="/static/home/js/center/note.js"></script>
    {/block}
