
    {{extend name="center/index" /}}
    {block name="header"}
    {/block}

    {block name="main"}
    <div class="vipRight">
        <h2 class="vipTitle">订单列表</h2>
        <table class="vip-dingzhi">
            <thead>
            <tr>
                <th>订单编号</th>
                <th>业务类型</th>
                <th>带宽</th>
                <th>业务状态</th>
                <th>联系人</th>
                <th>安装地址</th>
                <th>开通时间</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>user</td>
                <td>2014年6月23日11:32:17</td>
                <td><a href="success.html"><strong>127.0.0.1</strong></a></td>
            </tr>
            <tr>
                <td>user</td>
                <td>2014年6月23日11:32:17</td>
                <td><a href="success.html"><strong>127.0.0.1</strong></a></td>
            </tr>
            <tr>
                <td>user</td>
                <td>2014年6月23日11:32:17</td>
                <td><a href="success.html"><strong>127.0.0.1</strong></a></td>
            </tr>
            <tr>
                <td>user</td>
                <td>2014年6月23日11:32:17</td>
                <td><a href="success.html"><strong>127.0.0.1</strong></a></td>
            </tr>
            <tr>
                <td>user</td>
                <td>2014年6月23日11:32:17</td>
                <td><a href="success.html"><strong>127.0.0.1</strong></a></td>
            </tr>
            </tbody>
        </table>
    </div>

    {/block}
    
    {block name="footer"}
    {/block}
