
    {{extend name="center/index" /}}
    {block name="header"}

    <script src="/static/home/plugins/My97DatePicker/WdatePicker.js"></script>
    <script src="/static/home/js/pagination.js"></script>
    <style>
        .ordercenter th{
         text-align: center;
            padding: 10px;
        }
      
    </style>
    {/block}

    {block name="main"}
    <div class="vipRight col-xs-8" >
        <h2 class="vipTitle" style="  margin-top: 0;">订单列表</h2>
        <div id='SearchForm'>
            <div class="row ">
                <div class="col-xs-2 input-group-s" >
                    <input type="text" class="form-control"   placeholder="业务编号" v-model="s_brj">
                </div>

                <div class="col-xs-2 input-group-s" >
                    <input type="text" class="form-control"   placeholder="安装地址" v-model="s_address">
                </div>


                <div class="col-xs-2 input-group-s">
                    <select  class="form-control "  v-model="s_type">
                        <option value="">业务类型</option>
                        <option v-for="item in typelist" :value="item.id">{{item.name}}</option>
                    </select>
                </div>

                <div class="col-xs-2 input-group-s">
                    <select  class="form-control "  v-model="s_method">
                        <option value="">结算方式</option>
                        <option v-for="item in methodlist" :value="item.id">{{item.name}}</option>
                    </select>
                </div>

            </div>
            <br>
            <div class="row ">

                <div class="col-xs-2 input-group-s">
                    <select  class="form-control "  v-model="s_status">
                        <option value="">业务状态</option>
                        <option v-for="item in statuslist" :value="item.id">{{item.name}}</option>
                    </select>
                </div>

                <div class="col-xs-2 input-group-s" >
                    <input type="text" class="form-control"   placeholder="开通时间" id="s_time" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" >
                </div>

                <div class="col-xs-2">
                    <div class="form-group">
                        <span class="btn btn-primary btn-sm " @click = "getList()">搜索</span>
                    </div>
                </div>
            </div>

        </div>
        <table class="vip-dingzhi">
            <thead>
            <tr class="ordercenter">
                <th>业务编号</th>
                <th>安装地址</th>
                <th>业务类型</th>
                <th>带宽</th>
                <th>结算方式</th>

                <th>业务状态</th>
                <th>价格</th>
                <!--<th>联系人</th>-->
                <th>开通时间</th>
                <th>到期时间</th>
                <th>拆机时间</th>

            </tr>
            </thead>
            <tbody>
            <tr v-for="item in msg" v-cloak>
                <td>{{item.crj}}</td>
                <td>{{item.address}} </td>
                <td>{{item.type_name}}</td>
                <td>{{item.actual}}</td>
                <td v-show="item.method == m.id" v-for="m in methodlist">{{m.name}}</td>

                <td v-show="item.status == 1" ><span class="label label-sm label-success">正常</span></td>
                <td v-show="item.status == 2" ><span class="label label-sm label-warning">过期</span></td>
                <td v-show="item.status == 3 || item.status == 4 " ><span class="label label-sm label-error">拆机</span></td>
                <td>&yen;:{{item.price}}</td>
                <!--<td>{{item.contact}}</td>-->
                <td>{{item.start_time}}</td>
                <td>{{item.end_time}}</td>
                <td>{{item.tesrdown}}</td>

            </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="box-footer clearfix">
                <navigation :pages="pages" :current.sync="pageNo" @navpage="pageList"></navigation>
            </div>
        </div>
    </div>

    {/block}
    
    {block name="footer"}
    <script src="/static/home/js/center/order.js"></script>
    {/block}
