
    {{extend name="center/index" /}}
    {block name="header"}

    <script src="/static/home/plugins/My97DatePicker/WdatePicker.js"></script>
    <script src="/static/home/js/pagination.js"></script>
    <style>
        .ordercenter th{
         text-align: center;
            padding: 10px;
        }
      
    </style>
    {/block}

    {block name="main"}
    <div class="vipRight col-xs-8" >
        <h2 class="vipTitle" style="  margin-top: 0;">订单列表</h2>
        <div id='SearchForm'>
            <div class="row ">
                <div class="col-xs-2 input-group-s" >
                    <input type="text" class="form-control"   placeholder="业务编号" v-model="s_brj">
                </div>

                <div class="col-xs-2 input-group-s" >
                    <input type="text" class="form-control"   placeholder="安装地址" v-model="s_address">
                </div>


                <div class="col-xs-2 input-group-s">
                    <select  class="form-control "  v-model="s_type">
                        <option value="">业务类型</option>
                        <option v-for="item in typelist" :value="item.id">{{item.name}}</option>
                    </select>
                </div>
                <div class="col-xs-2 input-group-s">
                    <select  class="form-control "  v-model="s_speed">
                        <option value="" >带宽</option>
                        <option v-for="item in speedList" :value="item.id">{{item.name}}</option>
                    </select>
                </div>

                <div class="col-xs-3 input-group-s" >
                    <input type="text" class="form-control"   placeholder="开通时间" id="s_time" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" >
                </div>

                <div class="col-xs-1">
                    <div class="form-group">
                        <span class="btn btn-primary btn-sm " @click = "getList()">搜索</span>
                    </div>
                </div>
            </div>
        </div>
        <table class="vip-dingzhi">
            <thead>
            <tr class="ordercenter">
                <th>订单编号</th>
                <th>业务类型</th>
                <th>带宽</th>
                <th>业务状态</th>
                <th>联系人</th>
                <th>安装地址</th>
                <th>开通时间</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="item in msg" v-cloak>
                <td>{{item.brj}}</td>
                <td>{{item.type_name}}</td>
                <td v-show="item.speed == s.id" v-for="s in speedList">{{s.name}}</td>
                <td v-show="item.status == b.id" v-for="b in bus_status">{{b.name}}</td>
                <td>{{item.contact}}</td>
                <td>{{item.address}} </td>
                <td>{{item.start_time}}</td>
            </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="box-footer clearfix">
                <navigation :pages="pages" :current.sync="pageNo" @navpage="pageList"></navigation>
            </div>
        </div>
    </div>

    {/block}
    
    {block name="footer"}
    <script src="/static/home/js/center/order.js"></script>
    {/block}
