
    {{extend name="center/index" /}}
    {block name="header"}
    {/block}

    {block name="main"}
    <div class="vipRight">
        <h2 class="vipTitle">修改密码</h2>
        <form  class="registerform">
            <table class="grzx" width="705" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="90">旧密码：</td>
                    <td width="430"><input type="text" class="text inputxt"></td>
                </tr>
                <tr>
                    <td>新密码：</td>
                    <td><input type="text" class="text inputxt" ></td>
                </tr>

                <tr>
                    <td>确认密码：</td>
                    <td><input type="text" class="text inputxt" ></td>
                </tr>

                <tr>
                    <td>&nbsp;</td>
                    <td><button style="
                    border-radius: 3px;border: 1px solid transparent;
                     cursor: pointer;-webkit-appearance: button;
                     padding: 6px 12px;
                     font-size: 14px;
                    background: #ccc;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 1.42857143;
                    text-align: center;
                    white-space: nowrap;
                    vertical-align: middle;
                ">修改</button></td>
                </tr>
            </table>
        </form>
    </div>
    {/block}
    
    {block name="footer"}
    {/block}
