{extend name="index/index" /}
<!--###############################################################################################################-->
<!--################################################# 单独 ########################################################-->
<!--###############################################################################################################-->
{block name="header"}
<script src="<?= $js?>/pagination.js"></script>
<style>
    [v-cloak] {
        display: none !important;
    }
</style>
{/block}
{block name="main"}
<div class="page-content">
    <div class="page-header">
        <h1>
            会员列表
            <small>
                <i class="icon-double-angle-right"></i>
            </small>
        </h1>
    </div>
    <div class="row">
        <div class="col-xs-12">

            <div id='SearchForm'>
                <div class="row ">
                    <div class="col-xs-2 input-group-s">
                        <select name="type" fld="type" class="form-control" id="type" v-model="s_cid">
                            <option value="">请选择公司</option>
                            <option v-for="item in companyList" :value="item.id">{{item.name}}</option>
                        </select>
                    </div>
                    <div class="col-xs-2 input-group-s" >
                        <input type="text" class="form-control" style=" width: 200px;"  placeholder="请输入登录用户名" v-model="s_user">
                    </div>

                    <div class="col-xs-1">
                        <div class="form-group">
                             <span class="btn btn-primary btn-sm " @click = "getMemberList()">搜索</span>
                        </div>
                    </div>

                    <div class="col-xs-1">
                        <div class="form-group">
                             <span class="btn btn-success btn-sm tooltip-success" data-rel="tooltip" data-placement="top"
                      title="添加用户" data-toggle="modal" data-target="#layer">添加</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="table-responsive">
                <table id="sample-table-2" class="table table-bordered  solidTab ">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>登录用户名</th>
                        <th>公司编号</th>
                        <th>公司名称</th>
                        <th class="hidden-480">状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(userItem,key) in memberList" v-cloak>
                        <td>{{userItem.id}}</td>
                        <td>{{userItem.user}}</td>
                        <td>{{userItem.code}}</td>
                        <td>{{userItem.name}}</td>

                        <td class="hidden-480" v-if="userItem.status == 0">
                            <span class="label label-sm label-warning ">禁用</span>
                        </td>
                        <td class="hidden-480" v-if="userItem.status == 1">
                            <span class="label label-sm  label-success">启用</span>
                        </td>

                        <td>
                            <div class="action-buttons">

                                <a class="green"  @click="editUserid(userItem.id,key)" data-toggle="modal" data-target="#edit">
                                    <i class="icon-pencil bigger-130"></i>
                                </a>

                                <a class="red" >
                                    <i class="icon-trash bigger-130" @click="delTmp(userItem.id,key)" data-toggle="modal" data-target="#delete"></i>
                                </a>
                            </div>

                        </td>
                    </tr>

                    </tbody>
                </table>
                <div class="box-footer clearfix" v-show="pages>0">
                    <navigation :pages="pages" :current.sync="pageNo" @navpage="pageList"></navigation>
                </div>
            </div>

        </div>
    </div>

    <!--新增模态框-->
    <div role="dialog" class="modal fade bs-example-modal-sm " id="layer">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                    <h2 class="modal-title" id="gridSystemModalLabel">新增用户</h2>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">


                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 登录用户名 </label>

                            <div class="col-sm-9">
                                <input type="text" id="form-field-1" placeholder="" class="col-xs-10 col-sm-5"
                                       v-model="msg['user']">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 所属公司 </label>

                            <div class="col-sm-9">
                                <select name="type" fld="type" class=" col-sm-5" v-model="msg['cid']">
                                    <option value="" disabled>请选择公司</option>
                                    <option v-for="item in companyList" :value="item.id">{{item.name}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="space-4"></div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 密码 </label>

                            <div class="col-sm-9">
                                <input type="password" id="form-field-2" placeholder=""
                                       class="col-xs-10 col-sm-5" v-model="msg['password']">
                                <span class="help-inline col-xs-12 col-sm-7"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 状态 </label>
                            <div class="col-sm-3">
                                <label>
                                    <input name="switch-field-1" class="ace ace-switch" type="checkbox"
                                           v-model="msg['status']">
                                    <span class="lbl" @click=""></span>
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer text-right">
                    <button data-dismiss="modal" class="btn btn-primary btn-sm">取消</button>
                    <button data-dismiss="modal" class="btn btn-danger btn-sm" @click="addMember">确认
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--编辑用户-->
    <div role="dialog" class="modal fade bs-example-modal-sm " id="edit">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                    <h2 class="modal-title" id="">编辑用户</h2>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">


                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 用户名 </label>

                            <div class="col-sm-9">
                                <input type="text" id="form--1" placeholder="" class="col-xs-10 col-sm-5"
                                       v-model="editmsg['user']">
                            </div>
                        </div>

                        <div class="space-4"></div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 所属公司 </label>

                            <div class="col-sm-9">
                                <select name="type" fld="type" class=" col-sm-5" v-model="editmsg['cid']">
                                    <option value="" disabled>请选择公司</option>
                                    <option v-for="item in companyList" :value="item.id">{{item.name}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 状态 </label>
                            <div class="col-sm-3">
                                <label>
                                    <input name="switch-field-1" class="ace ace-switch" type="checkbox"
                                           v-model="editmsg['status']">
                                    <span class="lbl" @click=""></span>
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer text-right">
                    <button data-dismiss="modal" class="btn btn-primary btn-sm">取消</button>
                    <button data-dismiss="modal" class="btn btn-danger btn-sm" @click="editMember">保存
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--删除-->
    <div role="dialog" class="modal fade bs-example-modal-sm " id="delete">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                    <h2 class="modal-title" >确定删除？</h2>
                </div>
                <div class="modal-footer text-right">
                    <button data-dismiss="modal" class="btn btn-primary btn-sm">取消</button>
                    <button data-dismiss="modal" class="btn btn-danger btn-sm" @click="delMember(delid)">确定
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--role-->

</div>
{/block}
{block name="footer"}
<script src="<?= $js?>/admin/member.js"></script>

{/block}