{extend name="index/index" /}
<!--###############################################################################################################-->
<!--################################################# 单独 ########################################################-->
<!--###############################################################################################################-->
{block name="header"}
<script src="<?= $js?>/pagination.js"></script>
<style>
    [v-cloak] {
        display: none !important;
    }
</style>
{/block}
{block name="main"}
<div class="page-content">
    <div class="page-header">
        <h1>
            公司列表
            <small>
                <i class="icon-double-angle-right"></i>
            </small>
        </h1>
    </div>
    <div class="row">
        <div class="col-xs-12">

            <div id='SearchForm'>
                <div class="row ">

                    <div class="col-xs-2 input-group-s" >
                        <input type="text" class="form-control" style=" width: 200px;"  placeholder="请输入编号"v-model="s_code">
                    </div>

                    <div class="col-xs-1">
                        <div class="form-group">
                             <span class="btn btn-primary btn-sm " @click = "getCompanyList()">搜索</span>
                        </div>
                    </div>

                    <div class="col-xs-1">
                        <div class="form-group">
                             <span class="btn btn-success btn-sm tooltip-success" data-rel="tooltip" data-placement="top"
                      title="添加公司" data-toggle="modal" data-target="#layer">添加</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="table-responsive">
                <table id="sample-table-2" class="table table-bordered  solidTab ">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>公司编号</th>
                        <th>公司名称</th>
                        <th>公司地址</th>
                        <th>联系人</th>
                        <th>联系方式</th>
                        <th>公司账户</th>
                        <th>营业执照</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(item,key) in companyList" v-cloak>
                        <td>{{item.id}}</td>
                        <td>{{item.code}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.address}}</td>
                        <td>{{item.contact}}</td>
                        <td>{{item.phone}}</td>
                        <td>
                            <ul>
                                <li v-for="i in item.account">{{i.account}}</li>
                            </ul>
                        </td>
                        <td><img :src="item.license_icon" style="height:40px;"></td>

                        <td>
                            <div class="action-buttons">

                                <a class="green"  @click="editCompanyid(item.id,key)" data-toggle="modal" data-target="#edit">
                                    <i class="icon-pencil bigger-130"></i>
                                </a>

                                <a class="blue"  @click="accounttmp(item.id,key)" data-toggle="modal" data-target="#layer2">
                                    <i class="icon-zoom-in bigger-130"></i>
                                </a>

                                <a class="red" >
                                    <i class="icon-trash bigger-130" @click="delTmp(item.id,key)" data-toggle="modal" data-target="#delete"></i>
                                </a>
                            </div>

                        </td>
                    </tr>

                    </tbody>
                </table>
                <div class="box-footer clearfix">
                    <navigation :pages="pages" :current.sync="pageNo" @navpage="pageList"></navigation>
                </div>
            </div>

        </div>
    </div>

    <!--新增模态框-->
    <div role="dialog" class="modal fade bs-example-modal-sm " id="layer">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                    <h2 class="modal-title" id="gridSystemModalLabel">新增公司</h2>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">


                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 公司编号 </label>

                            <div class="col-sm-9">
                                <input type="text" id="form-field-1" placeholder="" class="col-xs-10 col-sm-5"
                                       v-model="msg['code']">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 公司名称 </label>

                            <div class="col-sm-9">
                                <input type="text"  placeholder="" class="col-xs-10 col-sm-5"
                                       v-model="msg['name']">
                            </div>
                        </div>

                        <div class="space-4"></div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 公司地址 </label>

                            <div class="col-sm-9">
                                <input type="text" id="form-field-2" placeholder=""
                                       class="col-xs-10 col-sm-5" v-model="msg['address']">
                                <span class="help-inline col-xs-12 col-sm-7"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" > 公司联系人 </label>

                            <div class="col-sm-9">
                                <input type="text"  placeholder=""
                                       class="col-xs-10 col-sm-5" v-model="msg['contact']">
                                <span class="help-inline col-xs-12 col-sm-7"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" > 联系方式 </label>

                            <div class="col-sm-9">
                                <input type="text"  placeholder=""
                                       class="col-xs-10 col-sm-5" v-model="msg['phone']">
                                <span class="help-inline col-xs-12 col-sm-7"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-sm-3 control-label no-padding-right" >营业执照：</label>
                            <div class="" id="preview" @click="choosefile('picture')">
                                <img id="imghead" src="<?= $picture ?>/back.jpg" alt="">
                            </div>
                            <input type="file" accept="image/gif,image/jpeg,image/jpg,image/png" id="picture" fld="pic" name="pic"
                                   @change="base64('picture','imghead','result')" style="display:none;">
                            <textarea name="img" id="result" rows=30 cols=300 hidden></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer text-right">
                    <button data-dismiss="modal" class="btn btn-primary btn-sm">取消</button>
                    <button data-dismiss="modal" class="btn btn-danger btn-sm" @click="addCompany">确认
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--编辑用户-->
    <div role="dialog" class="modal fade bs-example-modal-sm " id="edit">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                    <h2 class="modal-title" id="">编辑公司</h2>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">


                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 公司编号 </label>

                            <div class="col-sm-9">
                                <input type="text"   class="col-xs-10 col-sm-5"
                                       v-model="editmsg['code']">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 公司名称 </label>

                            <div class="col-sm-9">
                                <input type="text"  placeholder="" class="col-xs-10 col-sm-5"
                                       v-model="editmsg['name']">
                            </div>
                        </div>

                        <div class="space-4"></div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 公司地址 </label>

                            <div class="col-sm-9">
                                <input type="text"
                                       class="col-xs-10 col-sm-5" v-model="editmsg['address']">
                                <span class="help-inline col-xs-12 col-sm-7"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" > 公司联系人 </label>

                            <div class="col-sm-9">
                                <input type="text"  placeholder=""
                                       class="col-xs-10 col-sm-5" v-model="editmsg['contact']">
                                <span class="help-inline col-xs-12 col-sm-7"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" > 联系方式 </label>

                            <div class="col-sm-9">
                                <input type="text"  placeholder=""
                                       class="col-xs-10 col-sm-5" v-model="editmsg['phone']">
                                <span class="help-inline col-xs-12 col-sm-7"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-sm-3 control-label no-padding-right" >营业执照：</label>
                            <div class="" id="preview1" @click="choosefile('picture1')">
                                <img id="imghead1" :src="editmsg['license_icon']"  width="300px">
                            </div>
                            <input type="file" accept="image/gif,image/jpeg,image/jpg,image/png" id="picture1" fld="pic" name="pic"
                                   @change="base64('picture1','imghead1','result1')" style="display:none;">
                            <textarea name="img" id="result1" rows=30 cols=300 hidden></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer text-right">
                    <button data-dismiss="modal" class="btn btn-primary btn-sm">取消</button>
                    <button data-dismiss="modal" class="btn btn-danger btn-sm" @click="editCompany">保存
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--删除-->
    <div role="dialog" class="modal fade bs-example-modal-sm " id="delete">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                    <h2 class="modal-title" >确定删除？</h2>
                </div>
                <div class="modal-footer text-right">
                    <button data-dismiss="modal" class="btn btn-primary btn-sm">取消</button>
                    <button data-dismiss="modal" class="btn btn-danger btn-sm" @click="delCompany(delid)">确定
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--role-->

    <!--新增模态框-->
    <div role="dialog" class="modal fade bs-example-modal-sm " id="layer2">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                    <h2 class="modal-title" >新增公司账户</h2>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">


                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 账户 </label>

                            <div class="col-sm-9">
                                <input type="text"  placeholder="" class="col-xs-10 col-sm-5"
                                       v-model="account">
                            </div>
                        </div>


                    </form>
                </div>
                <div class="modal-footer text-right">
                    <button data-dismiss="modal" class="btn btn-primary btn-sm">取消</button>
                    <button data-dismiss="modal" class="btn btn-danger btn-sm" @click="addAccount">确认
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="footer"}
<script src="<?= $js?>/admin/company.js"></script>

{/block}